.container {
	margin-top: 2rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.wrapper {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.box {
	background-color: var(--bg2);
	border: 1px solid var(--redish-brown);
	border-radius: 8px;
	aspect-ratio: 1;
	width: 47.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.util {
	width: 90%;
}

@media (max-width: 750px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		width: 95%;
	}
	.box {
		width: 95%;
	}
	.util {
		width: 95%;
	}
}
